# Lab | Data Cleaning and Formatting

Objective: Apply Python programming to perform data cleaning and formatting, including identifying and handling with missing values, duplicates, outliers, errors, and using various formatting techniques such as changing data types, renaming columns, and handling string values, to prepare data for analysis.

In this lab, we will be working with the customer data from an insurance company, which can be found in the CSV file located at the following link: https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

# Challenge 1: Data Cleaning and Formatting

## Exercise 1: Cleaning Column Names

To ensure consistency and ease of use, standardize the column names of the dataframe. Start by taking a first look at the dataframe and identifying any column names that need to be modified. Use appropriate naming conventions and make sure that column names are descriptive and informative.

In [31]:
import pandas as pd
df = pd.read_csv('file1.csv')
print(df.head())

import re
def clean_column_name(column_name):
    column_name = column_name.lower()
    column_name = re.sub(r"[^\w\s\%]", " ", column_name)
    return column_name

df.columns = [clean_column_name(col) for col in df.columns]

print(df.head())

  Customer          ST GENDER             Education Customer Lifetime Value  \
0  RB50392  Washington    NaN                Master                     NaN
1  QZ44356     Arizona      F              Bachelor              697953.59%
2  AI49188      Nevada      F              Bachelor             1288743.17%
3  WW63253  California      M              Bachelor              764586.18%
4  GA49547  Washington      M  High School or Below              536307.65%

    Income  Monthly Premium Auto Number of Open Complaints     Policy Type  \
0      0.0                1000.0                    1/0/00   Personal Auto
1      0.0                  94.0                    1/0/00   Personal Auto
2  48767.0                 108.0                    1/0/00   Personal Auto
3      0.0                 106.0                    1/0/00  Corporate Auto
4  36357.0                  68.0                    1/0/00   Personal Auto

   Vehicle Class  Total Claim Amount
0  Four-Door Car            2.704934
1  Four-Door Car         1131.464935
2   Two-Door Car          566.472247
3            SUV          529.881344
4  Four-Door Car           17.269323
  customer          st gender             education customer lifetime value  \
0  RB50392  Washington    NaN                Master                     NaN
1  QZ44356     Arizona      F              Bachelor              697953.59%
2  AI49188      Nevada      F              Bachelor             1288743.17%
3  WW63253  California      M              Bachelor              764586.18%
4  GA49547  Washington      M  High School or Below              536307.65%

    income  monthly premium auto number of open complaints     policy type  \
0      0.0                1000.0                    1/0/00   Personal Auto
1      0.0                  94.0                    1/0/00   Personal Auto
2  48767.0                 108.0                    1/0/00   Personal Auto
3      0.0                 106.0                    1/0/00  Corporate Auto
4  36357.0                  68.0                    1/0/00   Personal Auto

   vehicle class  total claim amount
0  Four-Door Car            2.704934
1  Four-Door Car         1131.464935
2   Two-Door Car          566.472247
3            SUV          529.881344
4  Four-Door Car           17.269323

## Exercise 2: Cleaning invalid Values

The dataset contains columns with inconsistent and incorrect values that could affect the accuracy of our analysis. Therefore, we need to clean these columns to ensure that they contain only valid data. For example, the gender column contains various inconsistent values such as "F", "M", "Femal", "Male", "female", which need to be standardized.

Note that this exercise will focus only on cleaning inconsistent values and will not involve handling null values (NaN or None).

In [16]:
patterns = [
    (r'^[Mm]', 'Male'),  # Matches values starting with 'M' or 'm'
    (r'^[Ff]', 'Female')  # Matches values starting with 'F' or 'f'
]

for pattern, replacement in patterns:
    df['gender'] = df['gender'].apply(lambda x: re.sub(pattern, replacement, str(x)))

print(df.head())

  customer          st  gender             education customer lifetime value  \
0  RB50392  Washington     nan                Master                     NaN
1  QZ44356     Arizona  Female              Bachelor              697953.59%
2  AI49188      Nevada  Female              Bachelor             1288743.17%
3  WW63253  California    Male              Bachelor              764586.18%
4  GA49547  Washington    Male  High School or Below              536307.65%

    income  monthly premium auto number of open complaints     policy type  \
0      0.0                1000.0                    1/0/00   Personal Auto
1      0.0                  94.0                    1/0/00   Personal Auto
2  48767.0                 108.0                    1/0/00   Personal Auto
3      0.0                 106.0                    1/0/00  Corporate Auto
4  36357.0                  68.0                    1/0/00   Personal Auto

   vehicle class  total claim amount
0  Four-Door Car            2.704934
1  Four-Door Car         1131.464935
2   Two-Door Car          566.472247
3            SUV          529.881344
4  Four-Door Car           17.269323

## Exercise 3: Formatting data types

The data types of many columns in the dataset appear to be incorrect. This could impact the accuracy of our analysis. To ensure accurate analysis, we need to correct the data types of these columns. Please update the data types of the columns as appropriate.

It is important to note that this exercise does not involve handling null values (NaN or None).

In [33]:
df["customer lifetime value"] = df["customer lifetime value"].str.rstrip('%')

df["customer"] = df["customer"].astype(str)
df["st"] = df["st"].astype(str)
df["gender"] = df["gender"].astype(str)
df["education"] = df["education"].astype(str)
df["customer lifetime value"] = df["customer lifetime value"].astype(float)
df["income"] = df["income"].astype(float)
df["monthly premium auto"] = df["monthly premium auto"].astype(float)
df["mumber of open complaints"] = df["number of open complaints"].astype(str)
df["policy type"] = df["policy type"].astype(str)
df["vehicle class"] = df["vehicle class"].astype(str)
df["total claim amount"] = df["total claim amount"].astype(float)

# View the updated dataframe with corrected data types
print(df.dtypes)

customer                      object
st                            object
gender                        object
education                     object
customer lifetime value      float64
income                       float64
monthly premium auto         float64
number of open complaints     object
policy type                   object
vehicle class                 object
total claim amount           float64
mumber of open complaints     object
dtype: object

## Exercise 4: Dealing with Null values

Identify any columns with null or missing values. Identify how many null values each column has. You can use the isnull() function in pandas to find columns with null values.

Decide on a strategy for handling the null values. There are several options, including:

- Drop the rows or columns with null values
- Fill the null values with a specific value (such as the column mean or median for numerical variables and mode for categorical variables)
- Fill the null values with the previous or next value in the column
- Fill the null values based on a more complex algorithm or model (we haven't studied this yet)

Implement your chosen strategy to handle the null values. You can use the fillna() function in pandas to fill null values or dropna() function to drop null values.

Verify that your strategy has successfully handled the null values. You can use the isnull() function again to check if there are still null values in the dataset.

Remember to document your process and explain your reasoning for choosing a particular strategy for handling null values.

After formatting data types, as a last step, convert all the numeric variables to integers using applymap.

Save the cleaned dataset to a new CSV file.

In [39]:
null_counts = df.isnull().sum()
print(null_counts)

numeric_columns = df.select_dtypes(include=['int', 'float']).columns
categorical_columns = df.select_dtypes(include=['object']).columns

df[numeric_columns] = df[numeric_columns].fillna(df[numeric_columns].mean())
df[categorical_columns] = df[categorical_columns].fillna(df[categorical_columns].mode().iloc[0])

null_counts_after = df.isnull().sum()
print(null_counts_after)

df[numeric_columns] = df[numeric_columns].applymap(int)

df.to_csv("file1_cleaned_data.csv", index=False)

customer                     0
st                           0
gender                       0
education                    0
customer lifetime value      0
income                       0
monthly premium auto         0
number of open complaints    0
policy type                  0
vehicle class                0
total claim amount           0
mumber of open complaints    0
dtype: int64
customer                     0
st                           0
gender                       0
education                    0
customer lifetime value      0
income                       0
monthly premium auto         0
number of open complaints    0
policy type                  0
vehicle class                0
total claim amount           0
mumber of open complaints    0
dtype: int64

## Exercise 5: Dealing with duplicates

Use the .duplicated() method to identify any duplicate rows in the dataframe.

Decide on a strategy for handling the duplicates. Options include:
- Dropping all duplicate rows
- Keeping only the first occurrence of each duplicated row
- Keeping only the last occurrence of each duplicated row
- Dropping duplicates based on a subset of columns
- Dropping duplicates based on a specific column

Implement your chosen strategy using the drop_duplicates() function.

Verify that your strategy has successfully handled the duplicates by checking for duplicates again using .duplicated().

Remember to document your process and explain your reasoning for choosing a particular strategy for handling duplicates.

Save the cleaned dataset to a new CSV file.

In [40]:
df = pd.read_csv("file1_cleaned_data.csv")

duplicate_rows = df.duplicated()
print(duplicate_rows)

df = df.drop_duplicates(keep='first')

duplicate_rows_after = df.duplicated()
print(duplicate_rows_after)

df.to_csv("file1_cleaned_data.csv", index=False)

0       False
1       False
2       False
3       False
4       False
        ...
4003     True
4004     True
4005     True
4006     True
4007     True
Length: 4008, dtype: bool
0       False
1       False
2       False
3       False
4       False
        ...
1067    False
1068    False
1069    False
1070    False
1071    False
Length: 1072, dtype: bool

# Challenge 2: creating functions on a separate `py` file

Put all the data cleaning and formatting steps into functions, and create a main function that performs all the cleaning and formatting. 

Write these functions in a separate .py file(s). By putting these steps into functions, we can make the code more modular and easier to maintain.

*Hint: autoreload module is a utility module in Python that allows you to automatically reload modules in the current session when changes are made to the source code. This can be useful in situations where you are actively developing code and want to see the effects of changes you make without having to constantly restart the Python interpreter or Jupyter Notebook kernel.*

In [43]:
#def load_data(file1):
    # Load the dataframe from the file
    #df = pd.read_csv(file1)
    #return df

#def clean_data(df):
    # Perform data cleaning steps
    # ...
    #return df

#def format_data(df):
    # Perform data formatting steps
    # ...
    #return df

#def handle_null_values(df):
    # Handle null values
    # ...
    #return df

#def handle_duplicates(df):
    # Handle duplicates
    # ...
    #return df

#def convert_to_integers(df):
    # Convert numeric variables to integers
    # ...
    #return df

#def save_cleaned_data(df, output_file):
    # Save the cleaned dataset to a new CSV file
    #df.to_csv(output_file, index=False)

#def main():
    # Specify the file path and output file name
    #file_path = "file1.csv"
    #output_file = "cleaned_data.csv"

    # Load the data
    #df = load_data(file_path)

    # Perform data cleaning and formatting
    #df = clean_data(df)
    #df = format_data(df)
    #df = handle_null_values(df)
    #df = handle_duplicates(df)
    #df = convert_to_integers(df)

    # Save the cleaned dataset
    #save_cleaned_data(df, output_file)

#if __name__ == "__main__":
    #main()

# Challenge 3: Analyzing Clean and Formated Data

You have been tasked with analyzing the data to identify potential areas for improving customer retention and profitability. Your goal is to identify customers with a high policy claim amount and a low customer lifetime value.

In Pandas Lab, we only looked at high policy claim amounts because we couldn't look into low customer lifetime values. If we tried to do work with that column, we wouldn't have been able to do it because customer lifetime value wasn't clean and in its proper format. So after cleaning and formatting the data, lets get some more interesting insights!

Instructions:

- Review again the statistics for total claim amount and customer lifetime value to gain an understanding of the data.
- To identify potential areas for improving customer retention and profitability, we want to focus on customers with a high policy claim amount and a low customer lifetime value. Consider customers with a high policy claim amount to be those in the top 25% of the total claim amount, and clients with a low customer lifetime value to be those in the bottom 25% of the customer lifetime value. Create a pandas DataFrame object that contains information about customers with a policy claim amount greater than the 75th percentile and a customer lifetime value in the bottom 25th percentile.
- Use DataFrame methods to calculate summary statistics about the high policy claim amount and low customer lifetime value data. To do so, select both columns of the dataframe simultaneously and pass it to the .describe() method. This will give you descriptive statistics, such as mean, median, standard deviation, minimum and maximum values for both columns at the same time, allowing you to compare and analyze their characteristics.

In [44]:
df = pd.read_csv("file1_cleaned_data.csv")

claim_amount_threshold = df["total claim amount"].quantile(0.75)

lifetime_value_threshold = df["customer lifetime value"].quantile(0.25)

filtered_df = df[(df["total claim amount"] > claim_amount_threshold) &
                  (df["customer lifetime value"] < lifetime_value_threshold)]

statistics = filtered_df[["total claim amount", "customer lifetime value"]].describe()

print(statistics)

       total claim amount  customer lifetime value
count           40.000000                40.000000
mean           723.300000            341577.425000
std            149.216449             56921.466178
min            537.000000            228759.000000
25%            632.750000            304220.500000
50%            685.000000            365995.000000
75%            799.000000            387364.000000
max           1185.000000            402381.000000